.project {
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
  }
  
 .project:hover {
    transform: translateY(-7px);
  };

  
  .project__description {
    margin-top: 1em;
  }
  
  .project__stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.2em 0;
  }
  
  .project__stack-item {
    margin: 0.5em;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--clr-fg-alt);
  }
  
  .project .link--icon {
    margin-left: 0.5em;
  }

/* Landscape phones and down */
@media (max-width: 480px) { 
    .console-container {
        font-size: 2em;
    }
  
    nav > ul {
      flex-direction: column;
    }
  
    .pfp > img {
      height: 120px;
      width: 120px;
    }
  } 
    
    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) { 
    
    
     }
    
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) { 
    
    
     }
    
    /* Large desktop */
    @media (min-width: 1200px) { 
    
    
     }

     @media screen and (prefers-color-scheme: dark)
     {
      body{
        color: white;
        background-color: black;
      }
      
      ul {
        background-color: goldenrod;
      }

      @media (hover: hover) {
        .project:hover {
          color: goldenrod;
        }
      }
      
     }
